$odd-color: #88839e;
$even-color: #7a7593;
$active-color: #eb7e7f;
$light-bg: #4A4F56;
$dark-bg: #3B3F45;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
}

body {
	font-size: 100%;
	font-family: sans-serif;
	color: white;
}

.dinner{
	background-color: $dark-bg;
	border: 20px solid white;
	min-height: 100%;

	&__header,
	&__btn {
		color: $active-color;
	}

	&__header {
		background-color: $light-bg;
		padding: 20px 0;
		margin-bottom: 1.5rem;

		& > * {
			text-align: center;
			margin-bottom: 1rem;

			&:first-child{
				text-transform: capitalize;
			}

			&:last-child{
				margin-bottom: 0;
			}
		}
	}

	&__form {
		max-width: 50%;
		margin: auto;
	}

	&__list {
		margin-bottom: 1.5rem;

		&_item{
			list-style: none;

			&:nth-child(odd){
				label {
					background-color: $odd-color;
				}
			}

			[type="checkbox"]{
				zoom: 150%;

				&:checked ~ * {
					text-decoration: line-through;
					color: rgba(white, .5);
				}
			}
		}

		&_label {
			min-height: 50px;
			display: block;
			// display: flex;
			// align-items: center;
			padding-left: 15px;
			background-color: $even-color;
			border: 2px solid transparent;
			border-left: none;
			border-right: none;
			cursor: pointer;
			line-height: 2.9;

			& > * {
				vertical-align: middle;
			}

			& > *:not(:last-child) {
				margin-right: .5rem;
			}

			&:active {
				background-color: $active-color!important;
			}

			&:hover {
				border-color: white;
			}
		}
	}

	&__btn {
		min-height: 50px;
		width: 100%;
		color: $active-color;
		font-weight: bold;
		font-size: 1.3rem;
		background-color: $light-bg;
		border: none;
		cursor: pointer;
	}
}