@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,700");
@font-face {
	font-family: "Aleo";
	src: url("../fonts/aleo/aleo-regular-webfont.eot"), url("../fonts/aleo/aleo-regular-webfont.woff"), url("../fonts/aleo/aleo-regular-webfont.woff2"), url("../fonts/aleo/aleo-regular-webfont.ttf"), url("../fonts/aleo/aleo-regular-webfont.svg");
}

* {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

html,
body {
	min-height: 100vh;
}

body {
	font-size: 16px;
	font-family: "Josefin Sans", sans-serif;
	color: #fff;
	border: 15px solid #fff;
}

.container {
	width: 100%;
	max-width: 1100px;
	margin: auto;
}

.row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

::-webkit-input-placeholder {
	color: #999;
	text-transform: capitalize;
}

::-moz-placeholder {
	color: #999;
	text-transform: capitalize;
}

:-ms-input-placeholder {
	color: #999;
	text-transform: capitalize;
}

:-moz-placeholder {
	color: #999;
	text-transform: capitalize;
}

.first-screen {
	background-image: url("../img/header-bg.png");
	background-repeat: no-repeat;
	background-size: cover;
}

.about {
	background-image: url("../img/choose-bg.png");
	background-repeat: no-repeat;
	background-size: cover;
}

.travel-top {
	background-image: url("../img/house.png");
	background-repeat: no-repeat;
	background-size: cover;
}

.travel-bottom {
	background-image: url("../img/rocks.png");
	background-repeat: no-repeat;
	background-size: cover;
}

.testimonials {
	background-image: url("../img/testimonials-bg.png");
	background-repeat: no-repeat;
	background-size: cover;
}

a {
	text-decoration: none;
	color: #fff;
}

.section-title {
	margin: 0;
	font-size: 2.25rem;
	font-family: "Josefin Sans", sans-serif;
	text-transform: capitalize;
	color: #e8e8e8;
}

.gradient-btn {
	display: inline-block;
	text-align: center;
	text-transform: uppercase;
	background-image: linear-gradient(45deg, #496bfe 35%, #5474fd 36%);
	min-width: 220px;
	padding: 22px 0;
	font-family: "Aleo", sans-serif;
}
.gradient-btn:hover {
	background-image: linear-gradient(45deg, #496bfe 99%, #5474fd 100%);
}

section:not(.how) .row {
	min-height: 100vh;
}

.img-wrapper {
	position: relative;
	width: 100%;
}
.img-wrapper > * {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	-o-object-fit: cover;
	   object-fit: cover;
	width: 100%;
	height: 100%;
}

.first-screen {
	background-color: #013381;
}
.first-screen .row {
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	    flex-direction: column;
}
.first-screen__logo {
	width: 100%;
	max-width: 310px;
	color: #fff;
	margin-bottom: 50px;
}
.first-screen__title {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 3rem;
	margin: 0 0 5px;
}
.first-screen__subtitle {
	text-transform: capitalize;
	font-size: 22px;
	letter-spacing: 4px;
}
.first-screen__scroll {
	text-transform: capitalize;
	position: relative;
	cursor: pointer;
}
.first-screen__scroll::after {
	content: "";
	display: block;
	width: 10px;
	height: 10px;
	border: 2px solid transparent;
	border-left-color: #fff;
	border-bottom-color: #fff;
	-webkit-transform: rotate(-45deg) translateX(-50%);
	        transform: rotate(-45deg) translateX(-50%);
	position: absolute;
	left: 50%;
}

.search-form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	max-width: 650px;
	margin-bottom: 100px;
}
.search-form > * {
	border: 2px solid #fff;
	padding: 15px 0;
	text-align: center;
	font-size: 14px;
}
.search-form__field {
	width: 77%;
	color: #999;
}
.search-form__btn {
	width: 23%;
	color: #fff;
	text-transform: uppercase;
	font-family: "Aleo", sans-serif;
	background: #5474fd url("../img/search-icon.svg") no-repeat 90% 50%;
	background-size: 10%;
	cursor: pointer;
	-webkit-transition: background-color .2s ease;
	        transition: background-color .2s ease;
}
.search-form__btn:hover {
	background-color: #869dfe;
}

.navigation {
	background-color: #5474fd;
	padding: 28px 0;
}
.navigation .row {
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.navigation__logo {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 1.5rem;
}
.navigation__list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-preferred-size: 50%;
	flex-basis: 50%;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.navigation__link {
	display: block;
	color: #fff;
	text-transform: uppercase;
	-webkit-transition: color .2s ease;
	        transition: color .2s ease;
}
.navigation__link:hover {
	color: gray;
}

.about {
	position: relative;
	background-color: #333;
}
.about .row {
	min-height: 100vh;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.about__side {
	-ms-flex-preferred-size: 50%;
	flex-basis: 50%;
}
.about__side:last-child {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	    flex-direction: column;
}
.about .section-title {
	margin-bottom: 50px;
}
.about__descr {
	margin: 0 0 30px;
	letter-spacing: 2px;
	color: #e8e8e8;
	max-width: 80%;
}
.about__descr > :first-child {
	margin-bottom: 20px;
}
.about .img-wrapper {
	max-width: 350px;
	padding-top: 41%;
}
.about .img-wrapper:first-child {
	margin-bottom: .3rem;
	-ms-flex-item-align: start;
	align-self: flex-start;
}

.how {
	background-color: #333;
	padding: 70px 0;
}
.how .row {
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.how__list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-ms-flex-preferred-size: 80%;
	flex-basis: 80%;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.how__list::before {
	content: "";
	display: block;
	width: 100%;
	max-width: 690px;
	height: 100px;
	background: url("../img/wave.svg") no-repeat;
	background-size: 100%;
	position: absolute;
	z-index: 0;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
}
.how__item {
	text-align: center;
	position: relative;
	z-index: 1;
}
.how .section-title {
	font-family: "Aleo", sans-serif;
}
.how svg {
	width: 50px;
	height: 50px;
	max-width: 50px;
	max-height: 50px;
}
.how .icon-wrapper {
	display: inline-block;
	border: 30px solid #333;
	border-bottom-width: 20px;
	background-color: #333;
	border-radius: 50%;
}
.how .search-icon {
	fill: #496bfe;
}
.how .select-icon {
	fill: #ff6363;
}
.how .finger-icon {
	fill: #00a2ff;
}

.travel-box {
	background-color: #ad99b3;
}
.travel-box.travel-bottom {
	background-color: #882738;
}
.travel-box.travel-bottom .row {
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
}
.travel-box .row {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.travel-box__card {
	-ms-flex-preferred-size: 50%;
	flex-basis: 50%;
	background-color: rgba(0, 0, 0, .8);
	padding: 50px 30px;
}
.travel-box__country {
	display: block;
	color: #e8e8e8;
	font-size: 1.25rem;
	text-transform: capitalize;
	margin-bottom: 30px;
}
.travel-box__title {
	font-size: 1.25rem;
	text-transform: uppercase;
	margin-bottom: 30px;
}
.travel-box__descr {
	line-height: 1.7;
	margin-bottom: 50px;
}

.testimonials {
	border-top: 1px solid #fff;
	background-color: #333;
}
.testimonials .row {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	    flex-direction: column;
}
.testimonials .section-title {
	margin-bottom: 90px;
	font-family: "Aleo", sans-serif;
}
.testimonials__card {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.testimonials__content {
	max-width: 60%;
	background-color: #333;
	padding: 50px;
}
.testimonials__author {
	display: block;
	text-transform: uppercase;
	font-size: 1.25rem;
	margin-bottom: 25px;
}
.testimonials__text {
	position: relative;
	line-height: 1.5;
	text-indent: 2rem;
}
.testimonials__text::before {
	content: "";
	display: block;
	width: 20px;
	height: 20px;
	position: absolute;
	background: url("../img/double-quotes.svg") no-repeat;
	background-size: 100%;
	-webkit-transform: rotate(180deg) translateY(50%);
	        transform: rotate(180deg) translateY(50%);
}
.testimonials .img-wrapper {
	-webkit-box-flex: 4;
	-ms-flex-positive: 4;
	flex-grow: 4;
	max-width: 40%;
	padding-top: 26.4%;
}

.footer {
	background-color: #232323;
	padding: 100px 0 50px;
}
.footer .row {
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.footer__logo {
	margin-bottom: 30px;
}
.footer__title {
	font-weight: 700;
	font-size: 1.5rem;
	letter-spacing: 2px;
	text-transform: uppercase;
	margin-bottom: 10px;
}
.footer__subtitle {
	letter-spacing: .4px;
	text-transform: capitalize;
}
.footer__content {
	width: 100%;
	max-width: 165px;
}
.footer .social-menu {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.footer .social-menu__link {
	display: block;
}
.footer .social-menu__link:hover {
	color: #5474fd;
}
