<section class="aditii-product-slider">
	<div class="container">
		<div class="row">
			<div class="col-4">
				<div class="product-slider">
					<div class="product-slider__card">
						<div class="img-wrapper">
							<img src="./img/cat-item1.jpg" alt="product">
						</div>
						<div class="product-slider__card-info">
							<h5 class="product-card-title">
								branded shoes
							</h5>
							<a class="product-card-btn" href="#">shop</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>