@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url("http://fonts.fontstorage.com/import/bebasneue.css");
@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');

$font-main: 'Open Sans', sans-serif;
$font-titles: 'Bebas Neue', sans-serif;
$font-logo: 'Lobster', cursive;

$corp-aqua: #4ccfc1;
$corp-dark-aqua: darken($corp-aqua, 10%);
$text-grey: #afafaf;
$border-grey: #e4e4e4;
$active-green: #3cc395;
$slider-bg: #3ac8b8;
$menu-bg: #3cc395;

$img-path: '../img';