.aditii-product-slider {
	background-color: $white;
	box-shadow: 0px 0px 2px 3px rgba($black, 0.13);
}

.product-slider {

	.img-wrapper {
		width: 100%;
		max-width: 65%;
		@include padding-hack(50%);
	}

	&__card {
		display: flex;
		align-items: center;
	}

	.product-card-title {
		margin-bottom: 15px;
	}
}