<div class="container">
	<div class="row">
		<div class="col-6">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis molestiae velit modi, quia autem ratione esse itaque, cum dolor suscipit magni quae cupiditate quidem veritatis totam sit nihil dolorem nisi vero. Delectus ad commodi labore. Iste minima magnam, quae omnis neque, quam odit reiciendis laborum tempora possimus, rerum. Blanditiis, sint!</p>
		</div>
		<div class="col-6">
			<p class="border"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis molestiae velit modi, quia autem ratione esse itaque, cum dolor suscipit magni quae cupiditate quidem veritatis totam sit nihil dolorem nisi vero. Delectus ad commodi labore. Iste minima magnam, quae omnis neque, quam odit reiciendis laborum tempora possimus, rerum. Blanditiis, sint!</p>
		</div>
	</div>
</div>

<section class="section-about">
		<div class="container">
			<div class="row justify-content-end">
				<div class="col-6">
					<div class="section-about__content">
						<h2>Hello</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus asperiores, quia fugiat, tempora delectus impedit libero excepturi blanditiis, dicta commodi hic! Expedita hic delectus magni totam. Doloribus, esse, illum architecto itaque, saepe explicabo, ab officia quia ut dolores ipsum. Eos.
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus asperiores, quia fugiat, tempora delectus impedit libero excepturi blanditiis, dicta commodi hic! Expedita hic delectus magni totam. Doloribus, esse, illum architecto itaque, saepe explicabo, ab officia quia ut dolores ipsum. Eos.</p>
						<button>push me</button>
					</div>
				</div>
			</div>
		</div>
</section>



<a href="/about.html">About</a>